<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="topnav" th:fragment="navbar">
    <a th:class="${activePage == 'student' ? 'active' : ''}" href="student">student</a>
    <a th:class="${activePage == 'weather' ? 'active' : ''}" href="weather">weather</a>
</nav>

<!--
<nav class="navbar navbar-dark bg-dark" th:fragment="navbar">
<div class="topnav" th:fragment="navbar">
</div>


    <a th:class="${activePage == 'home' ? 'active' : ''}" href="home">home</a>
    <a th:class="${activePage == 'student' ? 'active' : ''}" href="student">student</a>
    <a th:class="${activePage == 'weather' ? 'active' : ''}" href="weather">weather</a>
    <a th:class="${activePage == 'sadge' ? 'active' : ''}" href="sadge">sadge</a>
-->

</body>
</html>