<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<head th:fragment="headers">
    <meta charset="UTF-8">
    <meta name="description" content="weather checker">
    <meta name="author" content="Salonce">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Other CSS -->
    <link rel="stylesheet" href="/css/styles.css">
</head>


<nav class="topnav mb-3" th:fragment="navbar">
    <a th:class="${activePage == 'index' ? 'active' : ''}" href="/">Home</a>
    <a th:class="${activePage == 'wardrobe' ? 'active' : ''}" href="/wardrobe">Wardrobe</a>
    <a th:class="${activePage == 'weather' ? 'active' : ''}" href="/weather">Weather</a>
    <!-- <a href="/new-object" style="float: right;">zxcczx</a> -->
</nav>


<script th:fragment="bootstrapJS" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>