<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="student">student</a>
  <a href="weather">weather</a>
  <a href="sadge">sadge</a>
</div>
-->
<!--
<div>
  <table style ="width:100%">
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>remove?</th>
    </tr>
    <tr th:each="oneItem: ${studentList}">
      <td th:text="${oneItem.id}" />
      <td th:text="${oneItem.name}" />
      <td>
        <form th:action="@{student}" method="post">
          <button name="studentId" type="submit" th:value="${oneItem.id}">Remove row</button>
        </form>
      </td>
    </tr>
  </table>
</div>
-->

<!--
  <input id="name" class="form-control" aria-describedby="basic-addon3" placeholder="Enter name" required type="text" th:field="*{name}"/>



  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon3">student's name:</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" th:field="*{name}">
  </div>
  <input type="submit" value="Add student">
<input type="submit" value="Add student">
-->
<!--
<style>
table, th, td {
  border: 1px solid black;
}
</style>
-->
</body>
</html>


