<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: headers}"></head>

<body>
<div th:replace="~{fragments :: navbar}"></div>

<p th:text="${'Hello, ' + userId}"></p>

<a class="btn btn-primary" th:href="@{/wardrobe/add}" role="button">Add item</a>

<table class="table ms-3 w-75">
  <thead>
  <tr>
    <th>NO.</th>
    <th>Item</th>
    <th>Weight </th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item, iStat : ${itemList}">
    <td th:text="${iStat.index + 1}" />
    <td th:text="${item.name}" />
    <td th:text="${item.weight}" />
    <td>
      <a class="btn btn-secondary" th:href="@{/wardrobe/update/{itemd}(itemd=${item.id})}" role="button" th:method="get">Update item</a>
    </td>
    <!--need to protect {id} updates and deletes urls from being accessed by people not having permissions to delete others' items -->
    <td>
      <form th:action="@{/wardrobe/{id}(id = ${item.id})}" th:method="delete">
        <button name="itemId" th:type="submit" class="btn btn-danger">Remove item</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>